openapi: 3.0.3
info:
  title: AFX DEX Exchange API
  version: 1.0.0
  description: |
    All trading operations are submitted through `POST /api/v1/exchange`, routed by `action.type`.
    Every request must include an EIP-712 signature. See the **Signature** page for details.

    JavaScript and Python snippets in this Exchange API reference show the action shape and SDK flow. Full Builder Code examples link to the official JavaScript and Python SDK repositories.

    Common signed request fields:
    - `nonce`: `uint64` Unix timestamp in milliseconds. Use the current millisecond timestamp and do not reuse the same nonce for another signed request.
    - `expiryAfter`: optional `uint64` Unix timestamp in milliseconds. The request expires after this timestamp; `null` means no expiry and must be signed as `0`.

servers:
  - url: https://api.afx.xyz
    description: Mainnet
  - url: https://api-testnet.afx.xyz
    description: Testnet

tags:
  - name: Builder Code
    description: |
      Builder Code lets a registered Builder place orders for a Trader after the Trader explicitly authorizes that Builder's agent wallet. The Builder never receives the Trader's private key.

      **Integration flow:**
      1. The Builder master wallet calls `registerBuilder` once.
      2. Each Trader master wallet calls `approveAgentToBuilder` with the Builder agent address and fee cap.
      3. The Builder agent calls `placeBuilderOrder` or `placeBuilderBracketOrder` for that Trader.
      4. The Trader master wallet calls `revokeAgentToBuilder` to end the authorization.

      **Start here:** [Python full lifecycle example](https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/builder_lifecycle.py) · [JavaScript full lifecycle example](https://github.com/afx-dex/afx-js-sdk/blob/main/examples/exchange/builder-lifecycle.ts).

      Use the SDKs unless you need a raw REST integration. The SDKs create protobuf bytes and EIP-712 signatures for you.

paths:
  # ═══════════════════════════════════════════════════════════════════
  #  Orders
  # ═══════════════════════════════════════════════════════════════════
  /exchange/placeOrder:
    post:
      operationId: placeOrder
      summary: Place Order
      tags: [Orders]
      description: |
        Submit one or more orders. Supports limit, market, and conditional (TP/SL) orders.

        **Signature:** Agent · **Protobuf:** `MsgPlaceOrders`

        **Outer request fields:**
        - `nonce`: `uint64` Unix timestamp in milliseconds. Use the current millisecond timestamp and do not reuse the same nonce for another signed request.
        - `expiryAfter`: optional `uint64` Unix timestamp in milliseconds. The request expires after this timestamp; `null` means no expiry and must be signed as `0`.

        ```protobuf
        message MsgPlaceOrder {
          int64  cl_ord_id           = 1;
          int64  symbol_code         = 2;
          string ord_px              = 3;
          string ord_qty             = 4;
          string trigger_px          = 5;
          OrdType                   ord_type           = 6;
          OrdSide                   ord_side           = 7;
          OrdTIF                    time_in_force      = 8;
          ReduceOnlyOption          reduce_only_option = 9;
          int64  parent_ord_id      = 10;
          ConditionalOrdTriggerType tpsl_trigger_type  = 11;
          string slippage_pct       = 12;
        }
        message MsgPlaceOrders {
          repeated MsgPlaceOrder orders = 1;
        }
        ```

        **Enum Reference:**
        | Enum | Values |
        |------|--------|
        | OrdType | LIMIT=1, MARKET=2 |
        | OrdSide | BUY=1, SELL=2, BUY_CLOSE_HEDGE=3, SELL_CLOSE_HEDGE=4 |
        | OrdTIF | GTC=1, IOC=2, FOK=3, POST_ONLY=4 |
        | ReduceOnlyOption | REDUCE_ONLY=1, TP_FROM_POSITION=2, SL_FROM_POSITION=3 |
        | ConditionalOrdTriggerType | LAST_PRICE=1, MARK_PRICE=2, INDEX_PRICE=3 |

        `NONE` is the proto default value. `MARKET_LIQ_SELLOFF`, `LIMIT_LIQ_SELLOFF`, `ADL`, and `LIQUIDATION` are display-only `OrdType` values used by query or stream data. Do not send those values in order requests.

        `slippagePct` is a decimal ratio string for market orders. For example, `"0.001"` means 0.1%, `"0.01"` means 1%, and `"0.05"` means 5%. Check each product's `maxSlippagePct` from `GET /info/public/product-meta`.

        Field names differ by layer:

        | Concept | Python SDK | Protobuf | REST action |
        |---------|------------|----------|-------------|
        | Symbol code | `symbol_code` | `symbol_code` | `symbolCode` |
        | Order price | `px` | `ord_px` | `ordPx` |
        | Order quantity | `qty` | `ord_qty` | `ordQty` |
        | Reduce-only option | `reduce_only_option` | `reduce_only_option` | `reduceOnlyOption` |
        | Trigger type | `trigger_type` | `tpsl_trigger_type` | `tpslTriggerType` |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceOrderRequest"
            examples:
              limitOrder:
                summary: Limit Buy
                value:
                  action:
                    type: placeOrder
                    orders:
                      - symbolCode: 1
                        ordPx: "40000.5"
                        ordQty: "0.5"
                        ordType: LIMIT
                        ordSide: BUY
                        timeInForce: GTC
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
              marketOrder:
                summary: Market Buy
                value:
                  action:
                    type: placeOrder
                    orders:
                      - symbolCode: 1
                        ordPx: "0"
                        ordQty: "0.1"
                        ordType: MARKET
                        ordSide: BUY
                        timeInForce: IOC
                        slippagePct: "0.01"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
              stopLoss:
                summary: Stop Loss
                value:
                  action:
                    type: placeOrder
                    orders:
                      - symbolCode: 1
                        ordPx: "0"
                        ordQty: "0"
                        ordType: MARKET
                        ordSide: SELL
                        timeInForce: IOC
                        reduceOnlyOption: SL_FROM_POSITION
                        triggerPx: "38000"
                        tpslTriggerType: LAST_PRICE
                        slippagePct: "0.01"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            // Limit buy
            const result = await client.placeOrder({
              symbolCode: 1, px: "40000.5", qty: "0.5",
              side: "BUY", ordType: "LIMIT", tif: "GTC",
            });
            console.log(result);

            // Market buy
            const result2 = await client.placeOrder({
              symbolCode: 1, px: "0", qty: "0.1",
              side: "BUY", ordType: "MARKET", tif: "IOC",
              slippagePct: "0.01",
            });

            // Stop loss
            const result3 = await client.placeOrder({
              symbolCode: 1, px: "0", qty: "0",
              side: "SELL", ordType: "MARKET", tif: "IOC",
              reduceOnlyOption: "SL_FROM_POSITION",
              triggerPx: "38000", tpslTriggerType: "LAST_PRICE",
              slippagePct: "0.01",
            });
        - lang: Python
          label: Python
          source: |
            from afx import AfxClient

            client = AfxClient.from_env(testnet=True)

            # Limit buy
            result = client.exchange.place_order(
                symbol_code=1, px="40000.5", qty="0.5",
                side="BUY", ord_type="LIMIT", tif="GTC",
            )
            print(result)

            # Market buy
            result2 = client.exchange.place_order(
                symbol_code=1, px="0", qty="0.1",
                side="BUY", ord_type="MARKET", tif="IOC",
                slippage_pct="0.01",
            )

  /exchange/replaceOrder:
    post:
      operationId: replaceOrder
      summary: Replace Order
      tags: [Orders]
      description: |
        Replace an existing order by `ordId` or `clOrdId`.

        **Signature:** Agent · **Protobuf:** `MsgReplaceOrder`

        ```protobuf
        message MsgReplaceOrder {
          int64  cl_ord_id           = 1;
          int64  symbol_code         = 2;
          string ord_px              = 3;
          string ord_qty             = 4;
          string trigger_px          = 5;
          OrdType                   ord_type           = 6;
          OrdSide                   ord_side           = 7;
          OrdTIF                    time_in_force      = 8;
          ReduceOnlyOption          reduce_only_option = 9;
          int64  parent_ord_id      = 10;
          ConditionalOrdTriggerType tpsl_trigger_type  = 11;
          string slippage_pct       = 12;
          int64  ord_id             = 13;
        }
        ```

        At least one of `ordId` or `clOrdId` must identify the existing order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplaceOrderRequest"
            examples:
              byClOrdId:
                summary: Replace by client order ID
                value:
                  action:
                    type: replaceOrder
                    symbolCode: 1
                    ordPx: "50100"
                    ordQty: "0.001"
                    ordType: LIMIT
                    ordSide: BUY
                    timeInForce: GTC
                    clOrdId: 99001
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.replaceOrder({
              symbolCode: 1,
              px: "50100",
              qty: "0.001",
              side: "BUY",
              ordType: "LIMIT",
              tif: "GTC",
              clOrdId: 99001,
            });
        - lang: Python
          label: Python (afx-python-sdk)
          source: |
            import time

            from afx import AfxClient

            client = AfxClient.from_env(testnet=True)
            cl_ord_id = int(time.time() * 1000)

            client.exchange.place_order(
                symbol_code=1,
                px="50000",
                qty="0.001",
                side="BUY",
                ord_type="LIMIT",
                tif="GTC",
                cl_ord_id=cl_ord_id,
            )

            result = client.exchange.replace_order(
                symbol_code=1,
                px="50100",
                qty="0.001",
                side="BUY",
                ord_type="LIMIT",
                tif="GTC",
                cl_ord_id=cl_ord_id,
            )
            print(result)

            # Full example:
            # https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/replace_order.py

  /exchange/placeBracketOrder:
    post:
      operationId: placeBracketOrder
      summary: Place Bracket Order
      tags: [Orders]
      description: |
        Place a main order with one or two attached TP/SL child orders.

        **Signature:** Agent · **Protobuf:** `MsgPlaceBracketOrder`

        ```protobuf
        message MsgPlaceBracketOrder {
          MsgPlaceOrder main_order        = 1;
          MsgPlaceOrder take_profit_order = 2;
          MsgPlaceOrder stop_loss_order   = 3;
        }
        ```

        The request must contain 2 or 3 orders. The first order is the main order. Child orders must use `reduceOnly` as `TP_FROM_POSITION` or `SL_FROM_POSITION`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PlaceBracketOrderRequest"
            examples:
              withTakeProfitAndStopLoss:
                summary: Main limit order with TP and SL
                value:
                  action:
                    type: placeBracketOrder
                    orders:
                      - symbolCode: 1
                        ordPx: "50000"
                        ordQty: "0.001"
                        ordType: LIMIT
                        ordSide: BUY
                        timeInForce: GTC
                        clOrdId: 99001
                      - symbolCode: 1
                        ordPx: "55000"
                        ordQty: "0.001"
                        triggerPx: "55000"
                        ordType: LIMIT
                        ordSide: SELL
                        timeInForce: GTC
                        reduceOnly: TP_FROM_POSITION
                        tpslTriggerType: LAST_PRICE
                        clOrdId: 99002
                      - symbolCode: 1
                        ordPx: "0"
                        ordQty: "0.001"
                        triggerPx: "45000"
                        ordType: MARKET
                        ordSide: SELL
                        timeInForce: IOC
                        reduceOnly: SL_FROM_POSITION
                        tpslTriggerType: LAST_PRICE
                        slippagePct: "0.01"
                        clOrdId: 99003
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.placeBracketOrder({
              orders: [
                {
                  symbolCode: 1, px: "50000", qty: "0.001",
                  side: "BUY", ordType: "LIMIT", tif: "GTC",
                  clOrdId: 99001,
                },
                {
                  symbolCode: 1, px: "55000", qty: "0.001",
                  triggerPx: "55000", side: "SELL",
                  ordType: "LIMIT", tif: "GTC",
                  reduceOnly: "TP_FROM_POSITION",
                  tpslTriggerType: "LAST_PRICE",
                  clOrdId: 99002,
                },
                {
                  symbolCode: 1, px: "0", qty: "0.001",
                  triggerPx: "45000", side: "SELL",
                  ordType: "MARKET", tif: "IOC",
                  reduceOnly: "SL_FROM_POSITION",
                  tpslTriggerType: "LAST_PRICE",
                  slippagePct: "0.01",
                  clOrdId: 99003,
                },
              ],
            });
        - lang: Python
          label: Python (afx-python-sdk)
          source: |
            import time

            from afx import AfxClient

            client = AfxClient.from_env(testnet=True)
            base_cl_ord_id = int(time.time() * 1000)

            result = client.exchange.place_bracket_order(
                main_order={
                    "symbol_code": 1,
                    "px": "50000",
                    "qty": "0.001",
                    "side": "BUY",
                    "ord_type": "LIMIT",
                    "tif": "GTC",
                    "cl_ord_id": base_cl_ord_id,
                },
                take_profit_order={
                    "symbol_code": 1,
                    "px": "55000",
                    "qty": "0.001",
                    "trigger_px": "55000",
                    "side": "SELL",
                    "ord_type": "LIMIT",
                    "tif": "GTC",
                    "reduce_only_option": "TP_FROM_POSITION",
                    "trigger_type": "LAST_PRICE",
                    "cl_ord_id": base_cl_ord_id + 1,
                },
                stop_loss_order={
                    "symbol_code": 1,
                    "px": "0",
                    "qty": "0.001",
                    "trigger_px": "45000",
                    "side": "SELL",
                    "ord_type": "MARKET",
                    "tif": "IOC",
                    "reduce_only_option": "SL_FROM_POSITION",
                    "trigger_type": "LAST_PRICE",
                    "slippage_pct": "0.01",
                    "cl_ord_id": base_cl_ord_id + 2,
                },
            )
            print(result)

            # Full example:
            # https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/place_bracket_order.py

  /exchange/cancelOrder:
    post:
      operationId: cancelOrder
      summary: Cancel Order
      tags: [Orders]
      description: |
        Cancel one or more orders by orderId or clOrdId.

        **Signature:** Agent · **Protobuf:** `MsgCancelOrders`

        **Outer request fields:**
        - `nonce`: `uint64` Unix timestamp in milliseconds. Use the current millisecond timestamp and do not reuse the same nonce for another signed request.

        ```protobuf
        message MsgCancelOrder {
          int64 symbol_code = 1;
          int64 cl_ord_id   = 2;
          int64 ord_id      = 3;
        }
        message MsgCancelOrders {
          repeated MsgCancelOrder orders = 1;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOrderRequest"
            examples:
              byOrdId:
                summary: Cancel by orderId
                value:
                  action:
                    type: cancelOrder
                    cancels:
                      - symbolCode: 1
                        ordId: "12345"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
              byClOrdId:
                summary: Cancel by clOrdId
                value:
                  action:
                    type: cancelOrder
                    cancels:
                      - symbolCode: 1
                        clOrdId: "99001"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            // Cancel by system order ID
            await client.cancelOrder({ symbolCode: 1, ordId: "12345" });

            // Cancel by client order ID
            await client.cancelOrder({ symbolCode: 1, clOrdId: "99001" });
        - lang: Python
          label: Python
          source: |
            # Cancel by system order ID
            client.exchange.cancel_order(symbol_code=1, ord_id="12345")

            # Cancel by client order ID
            client.exchange.cancel_order(symbol_code=1, cl_ord_id="99001")

  /exchange/cancelAll:
    post:
      operationId: cancelAll
      summary: Cancel All Orders
      tags: [Orders]
      description: |
        Cancel all orders for a symbol.

        **Signature:** Agent · **Protobuf:** `MsgCancelAll`

        **Outer request fields:**
        - `nonce`: `uint64` Unix timestamp in milliseconds. Use the current millisecond timestamp and do not reuse the same nonce for another signed request.

        ```protobuf
        message MsgCancelAll {
          int64 symbol_code          = 1;
          bool  is_conditional_order = 2;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelAllRequest"
            examples:
              default:
                value:
                  action:
                    type: cancelAll
                    symbolCode: 1
                    conditionalOrder: false
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.cancelAll({ symbolCode: 1 });

            // Cancel conditional orders only
            await client.cancelAll({ symbolCode: 1, conditional: true });
        - lang: Python
          label: Python
          source: |
            client.exchange.cancel_all(symbol_code=1)

            # Cancel conditional orders only
            client.exchange.cancel_all(symbol_code=1, conditional=True)

  # ═══════════════════════════════════════════════════════════════════
  #  Account Settings
  # ═══════════════════════════════════════════════════════════════════
  /exchange/setLeverage:
    post:
      operationId: setLeverage
      summary: Set Leverage
      tags: [Account]
      description: |
        Set leverage for a symbol.

        **Signature:** Agent · **Protobuf:** `MsgSetLeverage`

        ```protobuf
        message MsgSetLeverage {
          int64  symbol_code = 1;
          string leverage    = 2;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetLeverageRequest"
            examples:
              default:
                value:
                  action:
                    type: setLeverage
                    symbolCode: 1
                    leverage: "10"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.setLeverage({ symbolCode: 1, leverage: "10" });
        - lang: Python
          label: Python
          source: |
            client.exchange.set_leverage(symbol_code=1, leverage="10")

  /exchange/setMarginMode:
    post:
      operationId: setMarginMode
      summary: Set Margin Mode
      tags: [Account]
      description: |
        Set margin mode for a symbol.

        **Signature:** Agent · **Protobuf:** `MsgSetMarginMode`

        ```protobuf
        message MsgSetMarginMode {
          int64              symbol_code = 1;
          PositionMarginMode margin_mode = 2;  // CROSS=1, ISOLATED=2
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetMarginModeRequest"
            examples:
              default:
                value:
                  action:
                    type: setMarginMode
                    symbolCode: 1
                    marginMode: CROSS
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.setMarginMode({ symbolCode: 1, mode: "CROSS" });
        - lang: Python
          label: Python
          source: |
            client.exchange.set_margin_mode(symbol_code=1, mode="CROSS")

  /exchange/assignPosMargin:
    post:
      operationId: assignPosMargin
      summary: Assign Position Margin
      tags: [Account]
      description: |
        Add or remove margin for an isolated position.

        **Signature:** Agent · **Protobuf:** `MsgAssignPosMargin`

        ```protobuf
        message MsgAssignPosMargin {
          int64  symbol_code        = 1;
          string assigned_pos_margin = 2;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignPosMarginRequest"
            examples:
              default:
                value:
                  action:
                    type: assignPosMargin
                    symbolCode: 1
                    assignedPosMargin: "100"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.assignPosMargin({ symbolCode: 1, amount: "100" });
        - lang: Python
          label: Python
          source: |
            client.exchange.assign_pos_margin(symbol_code=1, amount="100")

  # ═══════════════════════════════════════════════════════════════════
  #  Master Signature Operations
  # ═══════════════════════════════════════════════════════════════════
  /exchange/approveAgent:
    post:
      operationId: approveAgent
      summary: Approve Agent
      tags: [Authorization]
      description: |
        Authorize an Agent wallet to trade on behalf of the Master wallet.

        **Signature:** Master · **No protobuf** — fields are signed directly via EIP-712.

        To revoke the current Agent wallet, submit the same `approveAgent` action with `agentAddress` set to `0x0000000000000000000000000000000000000000` and `validitySeconds` set to `0`. The Python SDK exposes this as `client.exchange.revoke_agent(...)`.

        **EIP-712 type:**
        ```json
        {
          "ApproveAgent": [
            { "name": "dexChain",     "type": "string"  },
            { "name": "agentAddress", "type": "address" },
            { "name": "agentName",    "type": "string"  },
            { "name": "validitySeconds", "type": "uint64" },
            { "name": "nonce",        "type": "uint64"  },
            { "name": "expiryAfter",  "type": "uint64"  }
          ]
        }
        ```
        `validitySeconds` is the agent authorization duration. `0` means the authorization is valid for 7 days; maximum 365 days.
        Domain name: `"SignTransaction"`
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveAgentRequest"
            examples:
              default:
                value:
                  action:
                    type: approveAgent
                    agentAddress: "0x76b6c4dc45f39463a1c8f6500c94b247c53fe184"
                    agentName: "my-trading-bot"
                    validitySeconds: 604800
                    dexChain: "Mainnet"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
                  expiryAfter: 1763023686904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.approveAgent({ agentName: "my-trading-bot", validitySeconds: 604800 });
        - lang: Python
          label: Python
          source: |
            client.exchange.approve_agent(agent_name="my-trading-bot", validity_seconds=604800)

            # Revoke the active agent wallet.
            client.exchange.revoke_agent(agent_name="my-trading-bot")

  /exchange/revokeAgent:
    post:
      operationId: revokeAgent
      summary: Revoke Agent
      tags: [Authorization]
      description: |
        Revoke the currently approved Agent wallet.

        **Signature:** Master · **No protobuf** — fields are signed directly via EIP-712.

        Revocation uses the same `approveAgent` action with `agentAddress` set to `0x0000000000000000000000000000000000000000` and `validitySeconds` set to `0`.

        Use this operation when rotating Agent keys, stopping an automated strategy, or responding to suspected Agent key exposure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveAgentRequest"
            examples:
              default:
                value:
                  action:
                    type: approveAgent
                    agentAddress: "0x0000000000000000000000000000000000000000"
                    agentName: "my-trading-bot"
                    validitySeconds: 0
                    dexChain: "Mainnet"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
                  expiryAfter: 1763023686904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: Python
          label: Python
          source: |
            client.exchange.revoke_agent(agent_name="my-trading-bot")

  /exchange/withdraw:
    post:
      operationId: withdraw
      summary: Withdraw
      tags: [Authorization]
      description: |
        Withdraw funds from DEX to an external address.

        **Signature:** Master · **No protobuf**

        **EIP-712 type:**
        ```json
        {
          "Withdraw": [
            { "name": "dexChain",    "type": "string"  },
            { "name": "destination", "type": "address" },
            { "name": "amount",      "type": "string"  },
            { "name": "withdrawSequence", "type": "uint64" },
            { "name": "nonce",       "type": "uint64"  },
            { "name": "expiryAfter", "type": "uint64"  }
          ]
        }
        ```
        Domain name: `"SignTransaction"`. `dexChain` is determined by the server environment. `withdrawSequence` is included in both the action body and the signed EIP-712 message. If omitted in the Python SDK, it defaults to the request `nonce`.

        For withdrawals, use a longer `expiryAfter` window, such as current Unix time in milliseconds + 3,600,000.
        The minimum mainnet withdrawal amount is 2 USDC.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawRequest"
            examples:
              default:
                value:
                  action:
                    type: withdraw
                    destination: "0xabc123..."
                    amount: "100"
                    withdrawSequence: 1763023626904
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
                  expiryAfter: 1763027226904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.withdraw({ destination: "0xabc...", amount: "100", expirySeconds: 3600 });
        - lang: Python
          label: Python
          source: |
            client.exchange.withdraw(destination="0xabc...", amount="100", expiry_seconds=3600)

  # ═══════════════════════════════════════════════════════════════════
  #  Referral
  # ═══════════════════════════════════════════════════════════════════
  /exchange/bindReferral:
    post:
      operationId: bindReferral
      summary: Bind Referral
      tags: [Referral]
      description: |
        Bind a referral code to the account.

        **Signature:** Agent · **Protobuf:** `MsgBindReferral`

        ```protobuf
        // package: dex.offchain.referral.v1
        message MsgBindReferral {
          string referral_code = 1;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BindReferralRequest"
            examples:
              default:
                value:
                  action:
                    type: bindReferral
                    referralCode: "ABC123"
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.bindReferral({ code: "ABC123" });
        - lang: Python
          label: Python
          source: |
            client.exchange.bind_referral(code="ABC123")

  # ═══════════════════════════════════════════════════════════════════
  #  Vault Operations
  # ═══════════════════════════════════════════════════════════════════
  /exchange/vaultDeposit:
    post:
      operationId: vaultDeposit
      summary: Vault Deposit
      tags: [Vault]
      description: |
        Deposit funds into a vault.

        **Signature:** Agent · **Protobuf:** `MsgVaultDeposit`

        ```protobuf
        message MsgVaultDeposit {
          string vault         = 1;
          string amount        = 2;
          int64  currency_code = 3;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            examples:
              default:
                value:
                  action:
                    type: vaultDeposit
                    vault: "0x4b90BBE5..."
                    amount: "100"
                    currencyCode: 1
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.vaultDeposit({ vaultAddress: "0x4b90BBE5...", amount: "100" });
        - lang: Python
          label: Python
          source: |
            client.exchange.vault_deposit(vault_address="0x4b90BBE5...", amount="100")

  /exchange/vaultWithdraw:
    post:
      operationId: vaultWithdraw
      summary: Vault Withdraw
      tags: [Vault]
      description: |
        Withdraw from a vault by share amount. Use the user's withdrawable vault shares, not a USDC amount.

        **Signature:** Agent · **Protobuf:** `MsgVaultWithdraw`

        ```protobuf
        message MsgVaultWithdraw {
          string vault         = 1;
          string share         = 2;
          int64  currency_code = 3;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            examples:
              default:
                value:
                  action:
                    type: vaultWithdraw
                    vault: "0x4b90BBE5..."
                    share: "9.5"
                    currencyCode: 1
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200":
          $ref: "#/components/responses/ExchangeOk"
      x-codeSamples:
        - lang: JavaScript
          label: JavaScript pseudocode
          source: |
            await client.vaultWithdraw({ vaultAddress: "0x4b90BBE5...", share: "9.5" });
        - lang: Python
          label: Python
          source: |
            client.exchange.vault_withdraw(vault_address="0x4b90BBE5...", share="9.5")

  # ═══════════════════════════════════════════════════════════════════
  #  Builder Code
  # ═══════════════════════════════════════════════════════════════════
  /exchange/registerBuilder:
    post:
      operationId: registerBuilder
      summary: Register Builder
      tags: [Builder Code]
      description: |
        Register the Builder master wallet once. Submit `action.type=registerBuilder` to `POST /api/v1/exchange`.

        **Signer:** Builder master wallet · **EIP-712 primary type:** `RegisterBuilder`

        **Runnable examples:** [Python register Builder](https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/register_builder.py) · [JavaScript register Builder](https://github.com/afx-dex/afx-js-sdk/blob/main/examples/exchange/register-builder.ts)

        **Raw signing.** EIP-712 is a wallet typed-data signature, not a signature of the JSON request string. Sign this exact typed-data payload with the Builder master wallet. Use `chainId` `421614` for Testnet or `42161` for Mainnet; when `expiryAfter` is omitted in the request, sign it as `0`.

        ```json
        {
          "types": {
            "EIP712Domain": [
              { "name": "name", "type": "string" },
              { "name": "version", "type": "string" },
              { "name": "chainId", "type": "uint256" },
              { "name": "verifyingContract", "type": "address" }
            ],
            "RegisterBuilder": [
              { "name": "dexChain", "type": "string" },
              { "name": "name", "type": "string" },
              { "name": "nonce", "type": "uint64" },
              { "name": "expiryAfter", "type": "uint64" }
            ]
          },
          "primaryType": "RegisterBuilder",
          "domain": {
            "name": "SignTransaction",
            "version": "1",
            "chainId": 421614,
            "verifyingContract": "0x0100000000000000000000000000000000000001"
          },
          "message": {
            "dexChain": "Testnet",
            "name": "example-builder",
            "nonce": 1763023626904,
            "expiryAfter": 1763023926904
          }
        }
        ```

      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegisterBuilderRequest" }
            examples:
              default:
                value:
                  action: { type: registerBuilder, name: example-builder, dexChain: Testnet }
                  signature: { r: "0x...", s: "0x...", v: 27 }
                  nonce: 1763023626904
      responses:
        "200": { $ref: "#/components/responses/ExchangeOk" }
      x-codeSamples:
        - lang: Python
          label: Python SDK
          source: |
            result = client.exchange.register_builder("example-builder")
            # See the linked runnable example above.
        - lang: JavaScript
          label: JavaScript SDK
          source: |
            const result = await client.exchange.registerBuilder({ name: "example-builder" });
            // See the linked runnable example above.

  /exchange/approveAgentToBuilder:
    post:
      operationId: approveAgentToBuilder
      summary: Authorize Builder Agent
      tags: [Builder Code]
      description: |
        Submit `action.type=approveAgentToBuilder` to `POST /api/v1/exchange`. The Trader master wallet authorizes the **Builder agent address**, not the Trader's own agent. `maxFeeRate` is a positive decimal string and must not exceed the environment-configured Builder fee cap.

        **Signer:** Trader master wallet · **EIP-712 primary type:** `ApproveAgentToBuilder`

        **Runnable examples:** [Python full lifecycle](https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/builder_lifecycle.py) · [JavaScript approve Builder agent](https://github.com/afx-dex/afx-js-sdk/blob/main/examples/exchange/approve-agent-to-builder.ts)

        **Raw signing.** Sign the following EIP-712 typed-data payload with the Trader master wallet. `agentAddress` is the Builder's agent address, `builderAddress` is the Builder's master address, and `expiryAfter` must be signed as `0` when omitted.

        ```json
        {
          "types": {
            "ApproveAgentToBuilder": [
              { "name": "dexChain", "type": "string" },
              { "name": "agentAddress", "type": "address" },
              { "name": "builderAddress", "type": "address" },
              { "name": "maxFeeRate", "type": "string" },
              { "name": "validitySeconds", "type": "uint64" },
              { "name": "nonce", "type": "uint64" },
              { "name": "expiryAfter", "type": "uint64" }
            ]
          },
          "primaryType": "ApproveAgentToBuilder",
          "domain": { "name": "SignTransaction", "version": "1", "chainId": 421614, "verifyingContract": "0x0100000000000000000000000000000000000001" },
          "message": {
            "dexChain": "Testnet",
            "agentAddress": "0x<builder-agent-address>",
            "builderAddress": "0x<builder-master-address>",
            "maxFeeRate": "0.0002",
            "validitySeconds": 3600,
            "nonce": 1763023626904,
            "expiryAfter": 1763023926904
          }
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApproveAgentToBuilderRequest" }
      responses:
        "200": { $ref: "#/components/responses/ExchangeOk" }
      x-codeSamples:
        - lang: Python
          label: Python SDK
          source: |
            trader.exchange.approve_agent_to_builder(
                builder.wallet.master_address, "0.0002", 3600,
                agent_address=builder.wallet.agent_address,
            )
            # See the linked runnable example above.
        - lang: JavaScript
          label: JavaScript SDK
          source: |
            await trader.exchange.approveAgentToBuilder({
              builder: builder.wallet.masterAddress,
              agentAddress: builder.wallet.agentAddress,
              maxFeeRate: "0.0002", validitySeconds: 3600,
            });
            // See the linked runnable example above.

  /exchange/revokeAgentToBuilder:
    post:
      operationId: revokeAgentToBuilder
      summary: Revoke Builder Agent Authorization
      tags: [Builder Code]
      description: |
        Submit `action.type=revokeAgentToBuilder` to `POST /api/v1/exchange`. The authorization is resolved from the Trader master signature; no Builder or agent address is included in the action.

        **Signer:** Trader master wallet · **EIP-712 primary type:** `RevokeAgentToBuilder`

        **Runnable examples:** [Python revoke Builder authorization](https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/revoke_agent_to_builder.py) · [JavaScript revoke Builder authorization](https://github.com/afx-dex/afx-js-sdk/blob/main/examples/exchange/revoke-agent-to-builder.ts)

        **Raw signing.** Sign this EIP-712 typed-data payload with the Trader master wallet. The server resolves the Builder and agent from the Trader's active authorization; do not add those addresses to the action.

        ```json
        {
          "types": {
            "RevokeAgentToBuilder": [
              { "name": "dexChain", "type": "string" },
              { "name": "nonce", "type": "uint64" },
              { "name": "expiryAfter", "type": "uint64" }
            ]
          },
          "primaryType": "RevokeAgentToBuilder",
          "domain": { "name": "SignTransaction", "version": "1", "chainId": 421614, "verifyingContract": "0x0100000000000000000000000000000000000001" },
          "message": {
            "dexChain": "Testnet",
            "nonce": 1763023626904,
            "expiryAfter": 1763023926904
          }
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RevokeAgentToBuilderRequest" }
      responses:
        "200": { $ref: "#/components/responses/ExchangeOk" }
      x-codeSamples:
        - lang: Python
          label: Python SDK
          source: |
            result = trader.exchange.revoke_agent_to_builder()
            # See the linked runnable example above.
        - lang: JavaScript
          label: JavaScript SDK
          source: |
            const result = await trader.exchange.revokeAgentToBuilder();
            // See the linked runnable example above.

  /exchange/placeBuilderOrder:
    post:
      operationId: placeBuilderOrder
      summary: Place Builder Order
      tags: [Builder Code]
      description: |
        Submit `action.type=placeBuilderOrder` to `POST /api/v1/exchange` after the Trader authorizes the Builder agent. `builderFeeRate` must be a non-negative decimal string and must not exceed the Trader authorization's `maxFeeRate`.

        **Signer:** Builder agent · **Protobuf:** `MsgPlaceBuilderOrder`

        **Runnable examples:** [Python full lifecycle](https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/builder_lifecycle.py) · [JavaScript place Builder order](https://github.com/afx-dex/afx-js-sdk/blob/main/examples/exchange/place-builder-order.ts)

        **Raw signing.** Serialize this message using proto3, then calculate `connectionId = keccak256(proto_bytes + bytes(vaultAddress) + little_endian_uint64(nonce) + little_endian_uint64(expiryAfter))`. Use empty bytes for an omitted `vaultAddress` and `0` for an omitted `expiryAfter`. The Builder agent then signs this EIP-712 typed-data payload. Use `source` `"b"` on Testnet or `"a"` on Mainnet.

        ```json
        {
          "types": {
            "Agent": [
              { "name": "source", "type": "string" },
              { "name": "connectionId", "type": "bytes32" }
            ]
          },
          "primaryType": "Agent",
          "domain": { "name": "Exchange", "version": "1", "chainId": 421614, "verifyingContract": "0x0100000000000000000000000000000000000001" },
          "message": { "source": "b", "connectionId": "0x<keccak256-result>" }
        }
        ```

        ```protobuf
        message MsgPlaceBuilderOrder {
          int64 cl_ord_id = 1;
          int64 symbol_code = 2;
          string ord_px = 3;
          string ord_qty = 4;
          string trigger_px = 5;
          OrdType ord_type = 6;
          OrdSide ord_side = 7;
          OrdTIF time_in_force = 8;
          ReduceOnlyOption reduce_only_option = 9;
          int64 parent_ord_id = 10;
          ConditionalOrdTriggerType tpsl_trigger_type = 11;
          string slippage_pct = 12;
          string builder_addr = 13;
          string builder_fee_rate = 14;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlaceBuilderOrderRequest" }
      responses:
        "200": { $ref: "#/components/responses/ExchangeOk" }
      x-codeSamples:
        - lang: Python
          label: Python SDK
          source: |
            result = builder.exchange.place_builder_order(
                symbol_code=1, px="65000", qty="0.001",
                builder=builder.wallet.master_address, builder_fee_rate="0.0002",
            )
            # See the linked runnable example above.
        - lang: JavaScript
          label: JavaScript SDK
          source: |
            const result = await builder.exchange.placeBuilderOrder(
              { symbolCode: 1, px: "65000", qty: "0.001", side: "BUY", ordType: "LIMIT", tif: "GTC" },
              { builder: builder.wallet.masterAddress, builderFeeRate: "0.0002" },
            );
            // See the linked runnable example above.

  /exchange/placeBuilderBracketOrder:
    post:
      operationId: placeBuilderBracketOrder
      summary: Place Builder Bracket Order
      tags: [Builder Code]
      description: |
        Submit 2 or 3 orders with `action.type=placeBuilderBracketOrder` to `POST /api/v1/exchange`. The first order is the main order; remaining orders must be TP (`TP_FROM_POSITION`) or SL (`SL_FROM_POSITION`).

        **Signer:** Builder agent · **Protobuf:** `MsgPlaceBuilderBracketOrder`

        **Runnable examples:** [Python full lifecycle](https://github.com/afx-dex/afx-python-sdk/blob/main/examples/exchange/builder_lifecycle.py) · [JavaScript full lifecycle](https://github.com/afx-dex/afx-js-sdk/blob/main/examples/exchange/builder-lifecycle.ts)

        **Raw signing.** Each child order is a `MsgPlaceBuilderOrder` with the `builder_addr = 13` and `builder_fee_rate = 14` fields shown above. Serialize the wrapper below and use the same Builder-agent `Agent` EIP-712 signing process as `placeBuilderOrder`.

        ```protobuf
        message MsgPlaceBuilderBracketOrder {
          MsgPlaceBuilderOrder main_order = 1;
          MsgPlaceBuilderOrder take_profit_order = 2;
          MsgPlaceBuilderOrder stop_loss_order = 3;
        }
        ```
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlaceBuilderBracketOrderRequest" }
      responses:
        "200": { $ref: "#/components/responses/ExchangeOk" }
      x-codeSamples:
        - lang: Python
          label: Python SDK
          source: |
            result = builder.exchange.place_builder_bracket_order(
                [main_order, take_profit_order, stop_loss_order],
                builder.wallet.master_address, "0.0002",
            )
            # See the linked runnable example above.
        - lang: JavaScript
          label: JavaScript SDK
          source: |
            const result = await builder.exchange.placeBuilderBracketOrder(
              [mainOrder, takeProfitOrder, stopLossOrder],
              { builder: builder.wallet.masterAddress, builderFeeRate: "0.0002" },
            );
            // See the linked runnable example above.

  # ═══════════════════════════════════════════════════════════════════
  #  Errors
  # ═══════════════════════════════════════════════════════════════════
  /errors:
    get:
      operationId: errorCodes
      summary: Error Codes
      tags: [Errors]
      description: |
        All Exchange API responses return a `code` field. `0` means success. Non-zero codes indicate an error.

        | Code | Description |
        | ---- | ----------- |
        | `0` | Success |
        | `40201` | Unsupported action type |
        | `40204` | Signature verification failed |
        | `40207` | Invalid nonce |
        | `40208` | Request expired |
        | `40220` | Rate limit exceeded |
        | `40006` | Location is not supported |
      responses:
        "200":
          description: Reference only

# ═══════════════════════════════════════════════════════════════════
#  Components
# ═══════════════════════════════════════════════════════════════════
components:
  responses:
    ExchangeOk:
      description: Transaction submitted
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ExchangeResponse"
          examples:
            success:
              value: { code: 0, message: success, data: { txHash: "0xabc...", txCode: 0, txMsg: "" } }

  schemas:
    Signature:
      type: object
      required: [r, s, v]
      properties:
        r: { type: string, description: "32-byte hex, zero-padded to 64 chars" }
        s: { type: string, description: "32-byte hex, zero-padded to 64 chars" }
        v: { type: integer, description: "27 or 28" }

    ExchangeResponse:
      type: object
      properties:
        code:
          type: integer
          description: "`0` = success. See Error Codes section for non-zero values."
          example: 0
        message: { type: string }
        data:
          type: object
          nullable: true
          properties:
            txHash: { type: string }
            txCode: { type: integer }
            txMsg: { type: string }

    PlaceOrderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, orders]
          properties:
            type: { type: string, enum: [placeOrder] }
            orders:
              type: array
              minItems: 1
              items:
                type: object
                required: [symbolCode, ordPx, ordQty, ordType, ordSide, timeInForce]
                properties:
                  symbolCode: { type: integer, format: int64, example: 1 }
                  ordPx: { type: string, description: "Limit `> 0`, Market `\"0\"`" }
                  ordQty: { type: string }
                  ordType: { type: string, enum: [LIMIT, MARKET], description: "NONE and display-only values MARKET_LIQ_SELLOFF, LIMIT_LIQ_SELLOFF, ADL, and LIQUIDATION must not be sent in requests." }
                  ordSide: { type: string, enum: [BUY, SELL, BUY_CLOSE_HEDGE, SELL_CLOSE_HEDGE] }
                  timeInForce: { type: string, enum: [GTC, IOC, FOK, POST_ONLY] }
                  clOrdId: { type: integer, format: int64 }
                  parentOrdId: { type: integer, format: int64 }
                  reduceOnlyOption: { type: string, enum: [REDUCE_ONLY, TP_FROM_POSITION, SL_FROM_POSITION] }
                  triggerPx: { type: string }
                  tpslTriggerType: { type: string, enum: [LAST_PRICE, MARK_PRICE, INDEX_PRICE] }
                  slippagePct: { type: string }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Unix timestamp in milliseconds after which the request expires. null = no expiry; use 0 in the signature payload when this field is null." }
        vaultAddress: { type: string, nullable: true }

    ReplaceOrderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, symbolCode, ordPx, ordQty, ordType, ordSide, timeInForce]
          properties:
            type: { type: string, enum: [replaceOrder] }
            symbolCode: { type: integer, format: int64, example: 1 }
            ordPx: { type: string, description: "Limit `> 0`, Market `\"0\"`" }
            ordQty: { type: string }
            ordType: { type: string, enum: [LIMIT, MARKET], description: "NONE and display-only values MARKET_LIQ_SELLOFF, LIMIT_LIQ_SELLOFF, ADL, and LIQUIDATION must not be sent in requests." }
            ordSide: { type: string, enum: [BUY, SELL, BUY_CLOSE_HEDGE, SELL_CLOSE_HEDGE] }
            timeInForce: { type: string, enum: [GTC, IOC, FOK, POST_ONLY] }
            clOrdId: { type: integer, format: int64, description: "Client order ID. clOrdId or ordId is required." }
            ordId: { type: integer, format: int64, description: "System order ID. clOrdId or ordId is required." }
            parentOrdId: { type: integer, format: int64 }
            reduceOnly: { type: string, enum: [REDUCE_ONLY, TP_FROM_POSITION, SL_FROM_POSITION] }
            triggerPx: { type: string }
            tpslTriggerType: { type: string, enum: [LAST_PRICE, MARK_PRICE, INDEX_PRICE] }
            slippagePct: { type: string }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Unix timestamp in milliseconds after which the request expires. null = no expiry; use 0 in the signature payload when this field is null." }
        vaultAddress: { type: string, nullable: true }

    PlaceBracketOrderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, orders]
          properties:
            type: { type: string, enum: [placeBracketOrder] }
            orders:
              type: array
              minItems: 2
              maxItems: 3
              items:
                type: object
                required: [symbolCode, ordPx, ordQty, ordType, ordSide, timeInForce]
                properties:
                  symbolCode: { type: integer, format: int64, example: 1 }
                  ordPx: { type: string, description: "Limit `> 0`, Market `\"0\"`" }
                  ordQty: { type: string }
                  ordType: { type: string, enum: [LIMIT, MARKET], description: "NONE and display-only values MARKET_LIQ_SELLOFF, LIMIT_LIQ_SELLOFF, ADL, and LIQUIDATION must not be sent in requests." }
                  ordSide: { type: string, enum: [BUY, SELL, BUY_CLOSE_HEDGE, SELL_CLOSE_HEDGE] }
                  timeInForce: { type: string, enum: [GTC, IOC, FOK, POST_ONLY] }
                  clOrdId: { type: integer, format: int64 }
                  parentOrdId: { type: integer, format: int64 }
                  reduceOnly: { type: string, enum: [REDUCE_ONLY, TP_FROM_POSITION, SL_FROM_POSITION] }
                  triggerPx: { type: string }
                  tpslTriggerType: { type: string, enum: [LAST_PRICE, MARK_PRICE, INDEX_PRICE] }
                  slippagePct: { type: string }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Unix timestamp in milliseconds after which the request expires. null = no expiry; use 0 in the signature payload when this field is null." }
        vaultAddress: { type: string, nullable: true }

    CancelOrderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, cancels]
          properties:
            type: { type: string, enum: [cancelOrder] }
            cancels:
              type: array
              minItems: 1
              items:
                type: object
                required: [symbolCode]
                properties:
                  symbolCode: { type: string }
                  clOrdId: { type: string, description: "Client order ID (clOrdId or ordId required)" }
                  ordId: { type: string, description: "System order ID (clOrdId or ordId required)" }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        vaultAddress: { type: string, nullable: true }

    CancelAllRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, symbolCode]
          properties:
            type: { type: string, enum: [cancelAll] }
            symbolCode: { type: integer, format: int64 }
            conditionalOrder: { type: boolean, default: false }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        vaultAddress: { type: string, nullable: true }

    SetLeverageRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, symbolCode, leverage]
          properties:
            type: { type: string, enum: [setLeverage] }
            symbolCode: { type: integer, format: int64 }
            leverage: { type: string, description: ">= 1, max 2 decimal places" }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        vaultAddress: { type: string, nullable: true }

    SetMarginModeRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, symbolCode, marginMode]
          properties:
            type: { type: string, enum: [setMarginMode] }
            symbolCode: { type: integer, format: int64 }
            marginMode: { type: string, enum: [CROSS, ISOLATED] }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        vaultAddress: { type: string, nullable: true }

    AssignPosMarginRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, symbolCode, assignedPosMargin]
          properties:
            type: { type: string, enum: [assignPosMargin] }
            symbolCode: { type: integer, format: int64 }
            assignedPosMargin: { type: string, description: "Amount to assign (non-zero)" }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        vaultAddress: { type: string, nullable: true }

    ApproveAgentRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, agentAddress, agentName, validitySeconds, dexChain]
          properties:
            type: { type: string, enum: [approveAgent] }
            agentAddress: { type: string, description: "Agent wallet address (0x hex)" }
            agentName: { type: string, default: "app.afx.xyz", description: "Agent name. SDK default: app.afx.xyz" }
            validitySeconds:
              type: integer
              format: int64
              description: "Agent authorization duration in seconds. 0 means the authorization is valid for 7 days; maximum 365 days."
            dexChain: { type: string, enum: [Mainnet, Testnet] }
            referralCode: { type: string, description: "Referral code (only effective on first approve)" }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Unix timestamp in milliseconds after which the request expires. null = no expiry; use 0 in the signature payload when this field is null." }

    WithdrawRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, destination, amount]
          properties:
            type: { type: string, enum: [withdraw] }
            destination: { type: string, description: "Recipient address (0x hex)" }
            amount: { type: string, description: "Withdrawal amount. Minimum mainnet withdrawal: 2 USDC." }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Unix timestamp in milliseconds after which the request expires. For withdrawals, use a longer window such as current time + 3,600,000 milliseconds. null = no expiry; use 0 in the signature payload when this field is null." }

    BindReferralRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, referralCode]
          properties:
            type: { type: string, enum: [bindReferral] }
            referralCode: { type: string }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64, description: "Request nonce as a Unix timestamp in milliseconds. Recommended: current time in milliseconds. Must be unique; do not reuse the same nonce for another signed request." }

    BuilderOrder:
      type: object
      required: [symbolCode, ordPx, ordQty, ordType, ordSide, timeInForce]
      properties:
        symbolCode: { type: integer, format: int64, example: 1 }
        ordPx: { type: string, description: "Limit price; use `0` for a market order" }
        ordQty: { type: string }
        ordType: { type: string, enum: [LIMIT, MARKET, STOP_LIMIT, STOP_MARKET, TAKE_PROFIT_LIMIT, TAKE_PROFIT_MARKET] }
        ordSide: { type: string, enum: [BUY, SELL, BUY_CLOSE_HEDGE, SELL_CLOSE_HEDGE] }
        timeInForce: { type: string, enum: [GTC, IOC, FOK, POST_ONLY] }
        clOrdId: { type: integer, format: int64 }
        parentOrdId: { type: integer, format: int64 }
        reduceOnly: { type: string, enum: [REDUCE_ONLY, TP_FROM_POSITION, SL_FROM_POSITION], description: "`reduceOnlyOption` is accepted as a compatibility alias." }
        triggerPx: { type: string }
        tpslTriggerType: { type: string, enum: [LAST_PRICE, MARK_PRICE, INDEX_PRICE] }
        slippagePct: { type: string }

    RegisterBuilderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, name, dexChain]
          properties:
            type: { type: string, enum: [registerBuilder] }
            name: { type: string, minLength: 1 }
            dexChain: { type: string, enum: [Mainnet, Testnet] }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64 }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Sign `0` when omitted or null." }

    ApproveAgentToBuilderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, agentAddress, builderAddress, maxFeeRate, validitySeconds, dexChain]
          properties:
            type: { type: string, enum: [approveAgentToBuilder] }
            agentAddress: { type: string, description: "Builder agent address" }
            builderAddress: { type: string, description: "Builder master wallet address" }
            maxFeeRate: { type: string, description: "Positive decimal string; subject to the configured fee cap", example: "0.0002" }
            validitySeconds: { type: integer, format: int64, minimum: 0 }
            dexChain: { type: string, enum: [Mainnet, Testnet] }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64 }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Sign `0` when omitted or null." }

    RevokeAgentToBuilderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, dexChain]
          properties:
            type: { type: string, enum: [revokeAgentToBuilder] }
            dexChain: { type: string, enum: [Mainnet, Testnet] }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64 }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Sign `0` when omitted or null." }

    PlaceBuilderOrderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, order, builder, builderFeeRate]
          properties:
            type: { type: string, enum: [placeBuilderOrder] }
            order: { $ref: "#/components/schemas/BuilderOrder" }
            builder: { type: string, description: "Builder master wallet address" }
            builderFeeRate: { type: string, description: "Non-negative decimal string; must not exceed the Trader authorization", example: "0.0002" }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64 }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Use `0` in the L1 connection ID when omitted or null." }
        vaultAddress: { type: string, nullable: true }

    PlaceBuilderBracketOrderRequest:
      type: object
      required: [action, signature, nonce]
      properties:
        action:
          type: object
          required: [type, orders, builder, builderFeeRate]
          properties:
            type: { type: string, enum: [placeBuilderBracketOrder] }
            orders:
              type: array
              minItems: 2
              maxItems: 3
              description: "First item is the main order; later items are TP and/or SL orders."
              items: { $ref: "#/components/schemas/BuilderOrder" }
            builder: { type: string, description: "Builder master wallet address" }
            builderFeeRate: { type: string, description: "Non-negative decimal string; must not exceed the Trader authorization", example: "0.0002" }
        signature: { $ref: "#/components/schemas/Signature" }
        nonce: { type: integer, format: int64 }
        expiryAfter: { type: integer, format: int64, nullable: true, description: "Use `0` in the L1 connection ID when omitted or null." }
        vaultAddress: { type: string, nullable: true }
